@(userName:String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
<head>
<title>Owens Poker</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/glyphicons-halflings.png")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/glyphicons-halflings-white.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/kinetic-v4.1.2.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/poker-1.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<style rel="text/css" media="screen">
body {
	background: url("@routes.Assets.at("images/background.jpg")");
}
.panel {
	position: fixed;
	bottom: 20px;
	right: 15px;
	z-index: 888;
	width: 300px;
	height: 100px;
}
</style>
</head>
<body>

	<div id="container">
		<div class="panel" id="panel">
			<div id="show">
				<button id="showButton" class="btn btn-large btn-primary">亮牌</button>
			</div>
			<div id="ready">
				<button id="readyButton"  class="btn btn-large btn-danger" >准备</button>
			</div>
			<div id="switch">
				<button id="switchButton" class="btn btn-large btn-primary">换牌</button>
			</div>
			<div id="end">
				<button id="openButton" class="btn btn-large btn-danger">开牌</button>
				<button id="foldButton" class="btn btn-large btn-primary">弃牌</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8">

		var chatSocket
		$(function() {
			Poker.Component.init();
			hidePanel();
			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
			chatSocket = new WS(
					'@routes.Application.gameOn(userName).webSocketURL()')
		
		chatSocket.onopen = function(event) {
				chatSocket.send(JSON.stringify({
					kind : "getMember"
				}))
			}
			chatSocket.onmessage = function(event) {
				var data = JSON.parse(event.data)
				//alert("onmessage   data.kind :" + data.kind)
				if(data.kind == "finished"){
					//clearAll()
					hidePanel() 
					
				}
				if(data.kind == "opencard"){
					layers = Poker.Component.Layers;
					if(data.user == data.members[1]){
						layers.leftLayer.clear()
						layers.leftLayer.drawByMessage(JSON.parse(data.message))
					}
					if(data.user == data.members[2]){
						layers.topLeftLayer.clear()
						layers.topLeftLayer.drawByMessage(JSON.parse(data.message))
					}
					if(data.user == data.members[3]){
						layers.topRightLayer.clear()
						layers.topRightLayer.drawByMessage(JSON.parse(data.message))
					}
					if(data.user == data.members[4]){
						layers.rightLayer.clear()
						layers.rightLayer.drawByMessage(JSON.parse(data.message))
					}
					Poker.Component.stage.draw();
				}
				
				if(data.kind == "foldresult"){
					layers = Poker.Component.Layers;
					if(data.user == data.members[0]){
						layers.bottomLayer.clear()
					}
					if(data.user == data.members[1]){
						layers.leftLayer.clear()
						//layers.textLayer.drawFoldLeft()
					}
					if(data.user == data.members[2]){
						layers.leftTopLayer.clear()
						//layers.textLayer.drawFoldTopLeft()
					}
					if(data.user == data.members[3]){
						layers.rightTopLayer.clear()
						//layers.textLayer.drawFoldTopRight()
					}
					if(data.user == data.members[4]){
						layers.rightLayer.clear()
						//layers.textLayer.drawFoldRight()
					}
					Poker.Component.stage.draw();
				}
				if(data.kind == "toEnd"){
					$("#end").css("display","")
				}
				if(data.kind == "showself"){
					$("#ready").css("display","none")
					$("#switch").css("display","none")
					$("#show").css("display","none")
					layers = Poker.Component.Layers;
					layers.bottomLayer.clear();
					var showPoker = (JSON.parse(data.message)).showPoker
					var unShowPoker = (JSON.parse(data.message)).unShowPoker
					layers.bottomLayer.drawShowCards(showPoker, unShowPoker)
					Poker.Component.stage.draw();
					
				}
				if(data.kind=="showother"){
					layers = Poker.Component.Layers;
					var showPoker = (JSON.parse(data.message)).showPoker
					var count = (JSON.parse(data.message)).count
					if(data.members[1]==(JSON.parse(data.message)).username){
						layers.leftLayer.clear()
						layers.leftLayer.drawShowCards(showPoker,count)
						Poker.Component.stage.draw();
					}
					if(data.members[2]==(JSON.parse(data.message)).username){
						layers.leftTopLayer.clear()
						layers.leftTopLayer.drawShowCards(showPoker,count)
						Poker.Component.stage.draw();
					}
					if(data.members[3]==(JSON.parse(data.message)).username){
						layers.rightTopLayer.clear()
						layers.rightTopLayer.drawShowCards(showPoker,count)
						Poker.Component.stage.draw();
					}
					if(data.members[4]==(JSON.parse(data.message)).username){
						layers.rightLayer.clear()
						layers.rightLayer.drawShowCards(showPoker,count)
						Poker.Component.stage.draw();
					}
				}
				
				if (data.kind == "dial") {
					$("#ready").css("display","none")
					$("#switch").css("display","")
					layers = Poker.Component.Layers;
					clearAll()
					var cards = data.message
					layers.bottomLayer.drawReceiveCards(JSON.parse(cards))
					if (data.members[1]) {
						layers.leftLayer.drawReceiveCards();
					}
					if (data.members[2]) {
						layers.topLeftLayer.drawReceiveCards();
					}
					if (data.members[3]) {
						layers.topRightLayer.drawReceiveCards();
					}
					if (data.members[4]) {
						layers.rightLayer.drawReceiveCards();
					}
					Poker.Component.stage.draw();
				}
				if (data.kind == "switchresult"){
					$("#ready").css("display","none")
					$("#switch").css("display","none")
					$("#show").css("display","")
					$("#showButton").attr("disabled",true)
					layers = Poker.Component.Layers;
					layers.bottomLayer.clear()
					var msg = JSON.parse(data.message)
					if (msg.count == 0){
						$("#showButton").attr("disabled",false)
					}
					layers.bottomLayer.drawSwitchCards(msg.cards, msg.count, 
							$("#showButton"))
					Poker.Component.stage.draw();
				}

				if (data.kind == "members") {
					layers = Poker.Component.Layers;
					layers.textLayer.clear()
					layers.textLayer.drawNameBottom(data.members[0])
					layers.textLayer.drawNameLeft(data.members[1])
					layers.textLayer.drawNameTopLeft(data.members[2])
					layers.textLayer.drawNameTopRight(data.members[3])
					layers.textLayer.drawNameRight(data.members[4])
					Poker.Component.stage.draw();
				}
			}
			$("#readyButton").click(function(e) {
				e.preventDefault()
				chatSocket.send(JSON.stringify({
					kind : "ready"
				}))
				this.disabled = true
				clearAll()

			})
			
			$("#switchButton").click(function(e){
				e.preventDefault()
				var pokers = Poker.Component.Layers.bottomLayer.layer.children;
				var result = new Array()
				for(var j in pokers){
					if(pokers[j].clicked == "true"){
						result.push(pokers[j].desc)
					}
				}
				chatSocket.send(JSON.stringify({
					kind:"switch",
					message:result
				}))
				this.disabled = true
				
			})
			
			$("#showButton").click(function(e){
				e.preventDefault()
				var pokers = Poker.Component.Layers.bottomLayer.layer.children;
				var result = new Array()
				for(var j in pokers){
					if(pokers[j].clicked == "true"){
						result.push(pokers[j].desc)
					}
				}
				chatSocket.send(JSON.stringify({
					kind:"show",
					message:result
				}))
				this.disabled = true
				
			})
			
			$("#openButton").click(function(e){
				e.preventDefault()
				chatSocket.send(JSON.stringify({
					kind:"open",
				}))
				$("#openButton").attr("disabled",true)
				$("#foldButton").attr("disabled",true)
			})
			$("#foldButton").click(function(e){
				e.preventDefault()
				chatSocket.send(JSON.stringify({
					kind:"fold",
				}))
				$("#openButton").attr("disabled",true)
				$("#foldButton").attr("disabled",true)
			})

			chatSocket.onclose = function() {
				alert("websocket closed")
			}
		})

		function hidePanel() {
			$("#ready").css("display","");
			$("#switch").css("display","none");
			$("#show").css("display","none");
			$("#end").css("display","none")
			$("#readyButton").attr("disabled",false)
			$("#switchButton").attr("disabled",false)
			$("#showButton").attr("disabled",false)
			$("#openButton").attr("disabled",false)
			$("#foldButton").attr("disabled",false)
		}
		function clearAll() {
			Poker.Component.Layers.leftLayer.clear();
			Poker.Component.Layers.rightLayer.clear();
			Poker.Component.Layers.topLeftLayer.clear();
			Poker.Component.Layers.topRightLayer.clear();
			Poker.Component.Layers.bottomLayer.clear();
		}
	</script>

	<script>
		function testReceivePoker() {
			var msg = [ [ "back", 0 ], [ "back", 0 ], [ "hearts", 1 ],
					[ "hearts", 2 ], [ "hearts", 3 ] ];
			var msg2 = [ [ "hearts", 1 ], [ "hearts", 2 ], [ "back", 0 ] ];
			layers = Poker.Component.Layers;
			layers.leftLayer.drawReceiveCards(msg, 3);
			layers.rightLayer.drawReceiveCards(msg, 3);
			layers.topLeftLayer.drawReceiveCards(msg, 3);
			layers.topRightLayer.drawReceiveCards(msg, 3);
			layers.bottomLayer.drawReceiveCards(msg);

			Poker.Component.stage.draw();
		}

		function testShowPoker() {
			var msg = [ [ "back", 0 ], [ "back", 0 ], [ "hearts", 1 ],
					[ "hearts", 2 ], [ "hearts", 3 ] ];
			var msg2 = [ [ "hearts", 1 ], [ "hearts", 2 ], [ "back", 0 ] ];

			layers = Poker.Component.Layers;
			layers.leftLayer.drawShowCards(msg, 3);
			layers.rightLayer.drawShowCards(msg, 3);
			layers.topLeftLayer.drawShowCards(msg, 3);
			layers.topRightLayer.drawShowCards(msg, 3);
			layers.bottomLayer.drawShowCards(msg, msg2);

			Poker.Component.stage.draw();
		}

		
		
	</script>
</body>
</html>
