@(userName:String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
<head>
<title>Owens Poker</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/glyphicons-halflings.png")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/glyphicons-halflings-white.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/poker-1.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/kinetic-v4.1.2.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<style rel="text/css" media="screen">
body {
	background: url("@routes.Assets.at("images/background.jpg")");
}
.panel {
	position: fixed;
	bottom: 20px;
	right: 15px;
	z-index: 888;
	width: 300px;
	height: 100px;
}
</style>
</head>
<body>

	<div id="container">
		<div class="panel" id="panel">
			<div id="test" style="">
				<button class="btn btn-primary" onclick="testShowPoker();">来一发</button>
				<button class="btn btn-primary" onclick="testReceivePoker();">来一发</button>
				<button class="btn btn-primary" onclick="Poker.Component.Layers.clearAll()">清除</button>
			</div>
			<div id="ready">
				<button class="btn btn-large btn-danger" onclick="ready();">准备</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8">
	    var chatSocket;
		$(function(){
			Poker.Component.init();
			hidePanel();
			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	    	chatSocket = new WS('@routes.Application.gameOn(userName).webSocketURL()')
		
			var receiveEvent = function(event){
				var data = JSON.parse(event.data)
				if(data.kind == "join"){
				  alert(data.message)
				}
				
			}
			chatSocket.onmessage = receiveEvent
		})
		
		function hidePanel(){
			//$("#ready").css("display","none");
			
		}
	
		
		function ready(){
			chatSocket.send(JSON.stringify(
		            {kind:"ready"}
		        ))
			
		}
	</script>

	<script>
		
		

		function testReceivePoker() {
			var msg = [ [ "back", 0 ], [ "back", 0 ], [ "hearts", 1 ],
					[ "hearts", 2 ], [ "hearts", 3 ] ];
			var msg2 = [ [ "hearts", 1 ], [ "hearts", 2 ], [ "back", 0 ] ];
			layers = Poker.Component.Layers;
			layers.leftLayer.drawReceiveCards(msg, 3);
			layers.rightLayer.drawReceiveCards(msg, 3);
			layers.topLeftLayer.drawReceiveCards(msg, 3);
			layers.topRightLayer.drawReceiveCards(msg, 3);
			layers.bottomLayer.drawReceiveCards(msg);

			Poker.Component.stage.draw();
		}

		function testShowPoker() {
			var msg = [ [ "back", 0 ], [ "back", 0 ], [ "hearts", 1 ],
					[ "hearts", 2 ], [ "hearts", 3 ] ];
			var msg2 = [ [ "hearts", 1 ], [ "hearts", 2 ], [ "back", 0 ] ];

			layers = Poker.Component.Layers;
			layers.leftLayer.drawShowCards(msg, 3);
			layers.rightLayer.drawShowCards(msg, 3);
			layers.topLeftLayer.drawShowCards(msg, 3);
			layers.topRightLayer.drawShowCards(msg, 3);
			layers.bottomLayer.drawShowCards(msg, msg2);

			Poker.Component.stage.draw();
		}
	
		function clearAll(){
			Poker.Component.Layers.leftLayer.clear();
			Poker.Component.Layers.rightLayer.clear();
			Poker.Component.Layers.topLeftLayer.clear();
			Poker.Component.Layers.topRightLayer.clear();
			Poker.Component.Layers.bottomLayer.clear();
		}

	</script>
</body>
</html>
